<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img [src]="recipe.imagePath" class="img-responsive" style="max-height:100px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{recipe.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>


      <li routerLink="edit" style="cursor: pointer"><a>Edit Recipe</a></li>
      <li (click)="onDeleteRecipe()" style="cursor: pointer"><a>Delete Recipe</a></li>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{recipe.Description}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item shadow" *ngFor="let item of recipe.ingredients">{{item.amount}} - {{item.name}}</li>
    </ul>
  </div>
</div>